<h1 class="title"> Edit Todo </h1>
<div mat-dialog-content>
<form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="field">
        <div class="control">
            <input 
            type="text" 
            class="input" 
            [ngModel]="todo.text" 
            #todoTextField = "ngModel"
            name="text" 
            required
            minlength="2"
            placeholder="Type text here...">
        </div>
        <div *ngIf="todoTextField.invalid">
            <p class="help is-danger" *ngIf="todoTextField.errors?.['minlength']">
             Todo text must be at least 2 characters
            </p>
            <p class="help is-danger" *ngIf="todoTextField.errors?.['required']">
             Please fill out the todo item
            </p>
        </div>
    </div>

    <br>
    <div class="field is-grouped is-grouped-right">
        <div class="control">
            <button type="button" class="button is-light" (click)="close()">
                Cancel
            </button>
        </div>
            <div class="control">
                <button class="button alt-gradient-button" type="submit">
                    <!-- <span class="material-icons">
                        save
                        </span> -->
                    Save

                </button>
        </div>
    </div>

</form>
</div>
