.todo-item {
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 35px 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    position: relative;

    &.completed {
        color: #aaa;

    }
}

.todo-item .check-box {
    display: flex;
    flex-shrink: 0;
    border: 2px solid #eee;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    margin-right: 20px;
    transition: background-color 0.2s, border-color 0.2s;

    span.material-symbols-outlined{
        font-size: 20px;
        margin: auto;
        opacity: 0; //hide by default
        transition: opacity 0.2s;
        color: #333;
    }

    
}

.todo-item:hover .check-box {
    background: #eee;
    span.material-symbols-outlined{
        opacity: 0.28;
    }
}

.todo-item.completed .check-box{
    background: rgb(11, 223, 170);
    border-color: rgb(11, 223, 170);

    span.material-symbols-outlined{
        opacity: 1;
       
    }
}

.todo-item .todo-controls-box{
    position: absolute;
    bottom: 0;
    right: 5px;
    display: flex;
    //hide by default
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
}

.todo-item:hover .todo-controls-box {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
    transform: translateY(0);
}

.todo-controls-box .todo-control-button {
    background-color: #f5f7f8;
    padding: 7px 10px;
    display: flex;
   
    span.material-symbols-outlined{
        font-size: 20px;
        padding: 5px;
        color: #555;
       
    }
    &:hover {
        background: #eee;
        span.material-symbols-outlined {
            color: #333;
        }

    }

    &:active {
        background-color: #e5e7e8;
    }
    &:first-of-type {
    border-top-left-radius: 7px;
    }

    &:last-of-type {
        border-top-right-radius: 7px;
    }
}

.todo-controls-box .todo-control-button.is-danger:hover {

    background-color: rgb(221, 152, 152) !important;
}

.todo-controls-box .todo-control-button.is-danger:active {

    background-color: rgb(226, 85, 85) !important;
}